body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: beige; /* Cor de fundo bege */
}

.task {
    border: 1px solid #ccc;
    background-color: #d2b48c; /* Cor bronzeado */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.task input[type="text"] {
    flex: 2;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.task input[type="time"] {
    border: none;
    padding: 10px;
    font-size: 20px;
}

.task input[type="checkbox"] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}